parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 8
    excludePaths:
        - '%rootDir%/../../../src/Spryker/MerchantSearch/src/Spryker/Client/MerchantSearch/Plugin/Elasticsearch/Query/MerchantSearchQueryPlugin.php'
